body {
    /* margin: 0;
    padding: 0; */
    font-family: "Roboto", sans-serif;
  }
  .NavBar {
    z-index: 100;
    position: fixed;
    top: 0;
    width: 100%;
    height: 64px;
    box-sizing: border-box;
    padding: 0px 24px;
    display: flex;
    justify-content: space-between;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  }
  
  .NavBar > div {
    justify-content: space-between;
    display: flex;
    align-items: center;
  }
  .NavBarimg img{
    width: 40%;
  }
  
  .NavBarCart {
    font-size: 20px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    line-height: 40px;
    margin-right: 15px;
    cursor: pointer;
  }
  .main {
    display: flex;
    gap: 24px;
  
  }
  .NavBarCart:hover,
  .MenuButton:hover {
    background-color: rgb(240, 233, 233);
  }
  .NavBarSignIN button {
    width: 84px;
    height: 36px;
    border-radius: 5px;
    outline: none;
    border: none;
    color: white;
    font-weight: 600;
    font-size: 14px;
    background-color: #df1e2e;
  }
  .raja div:hover{
    padding: 10px;
    background-color: rgb(240, 233, 233);
  }